@model IEnumerable<Bill>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
@{
    ViewBag.Title = "Index Bill";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Bill</a>
    </li>
    <li class="breadcrumb-item active">Index</li>
</ol>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    @*<th scope="col">@Html.DisplayNameFor(model => model.CustomerId)</th>*@
                    <th scope="col">Name Customer</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.DateOrder)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Total)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Note)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.status)</th>
                    <th class="text-center" colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="row">@Html.DisplayFor(modelItem => item.Customer.Name)</td>
                        <td scope="row">@Html.DisplayFor(modelItem => item.DateOrder)</td>
                        <td scope="row">@Html.DisplayFor(modelItem => item.Total)</td>
                        <td scope="row">@Html.DisplayFor(modelItem => item.Note)</td>
                        <td scope="row">@Html.DisplayFor(modelItem => item.status)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--Phân trang -->
<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager((IPagedList)ViewBag.bill, page => Url.Action("Index", "Bill", new { page = page }))
    </div>
</div>