@model User

@{ 
    ViewBag.Title = "Index User";
}

<td scope="col">@Html.DisplayFor(model => model.FullName)</td>
<td scope="col">@Html.DisplayFor(model => model.Email)</td>
<td scope="col">@Html.DisplayFor(model => model.Phone)</td>
<td scope="col">@Html.DisplayFor(model => model.Address)</td>
<td scope="col">@Html.DisplayFor(model => model.status)</td>

<form asp-action="Edit" asp-controller="User" method="post">
    <input type="hidden" asp-for="Id"/>
    <input type="text" value="" asp-for="Address" />
    <button type="submit">Submit</button>
</form>