@model TypeProduct

@{ 
    ViewBag.Title = "Delete TypeProduct";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-action="Index" asp-area="Admin" asp-controller="TypeProduct">TypeProduct</a>
    </li>
    <li class="breadcrumb-item active">Delete</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                <td scope="row">@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                <td scope="row">@Html.DisplayFor(model => model.Description)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Image)</th>
                <td scope="row"><img class="rounded d-block" width="200" height="200" src="~/image/product/@Html.DisplayFor(model => model.Image)" /></td>
            </tr>
        </table>
    </div>
</div>
<div class="row>
    <div class="col-md-12">
        <form asp-action="Delete" asp-controller="TypeProduct" method="post">
            <input type="hidden" asp-for="Id"/>
            <button type="submit" class="btn btn-primary offset-3">Delete</button>
            <button type="submit" class="btn btn-primary offset-3" asp-action="Index">Back</button>
        </form>
    </div>
</div>
