@model IEnumerable<invoice.Models.Invoice>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_KHACHHANG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers.TEN_KHACH_HANG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NGAYBAN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.ID_KHACHHANG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.TEN_KHACH_HANG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYBAN)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_HOADON">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_HOADON">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_HOADON">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
