@model Customer
@{
    ViewBag.Title = "Checkout";
}
<div class="container">
    <div id="content">
        @if (ViewBag.SuccessOrder == false)
        {
            <p>Đăng ký không thành công</p>
        }
        else
        {
            <p>Đăng ký thành công</p>
        }
            <form asp-action="Order" asp-controller="Checkout" method="post" class="beta-form-checkout">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Đặt hàng</h4>
                        <div class="space20">&nbsp;</div>
                        <div class="form-block">
                            <label asp-for="Name">Họ tên*</label>
                            <input type="text" id="name" placeholder="Họ tên" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger" style="margin-left: 200px"></span>
                        </div>
                        <div class="form-block">
                            <label>Giới tính </label>
                            <input id="gender" type="radio" class="input-radio" name="gender" value="nam" checked="checked" style="width: 10%"><span style="margin-right: 10%">Nam</span>
                            <input id="gender" type="radio" class="input-radio" name="gender" value="nữ" style="width: 10%"><span>Nữ</span>
                        </div>
                        <div class="form-block">
                            <label asp-for="Email">Email*</label>
                            <input type="email" id="email" asp-for="Email" placeholder="expample@gmail.com">
                            <span asp-validation-for="Email" class="text-danger" style="margin-left: 200px"></span>
                        </div>
                        <div class="form-block">
                            <label asp-for="Address">Địa chỉ*</label>
                            <input type="text" id="adress" asp-for="Address" placeholder="Street Address">
                            <span asp-validation-for="Address" class="text-danger" style="margin-left: 200px"></span>
                        </div>

                        <div class="form-block">
                            <label asp-for="Phone">Điện thoại*</label>
                            <input type="text" id="phone" asp-for="Phone">
                            <span asp-validation-for="Phone" class="text-danger" style="margin-left: 200px"></span>
                        </div>
                        <div class="form-block">
                            <label asp-for="Note">Ghi chú</label>
                            <textarea id="notes" asp-for="Note"></textarea>
                            <span asp-validation-for="Note" class="text-danger" style="margin-left: 200px"></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="your-order">
                            <div class="your-order-head"><h5>Đơn hàng của bạn</h5></div>
                            <div class="your-order-body" style="padding: 0px 10px">
                                @foreach (var item in ViewBag.CartCheckOut)
                                {
                                    <div class="your-order-item">
                                        <div>
                                            <!--  one item	 -->
                                            <div class="media">
                                                <img width="25%" src="~/image/product/@item.Product.Image" alt="" class="pull-left">
                                                <div class="media-body">
                                                    <p class="font-large">@item.Product.Name</p>
                                                    <span class="color-gray your-order-info">@item.Product.UnitPrice</span>
                                                    <span class="color-gray your-order-info">@item.Quantity</span>
                                                    <span class="color-gray your-order-info">@(item.Product.UnitPrice * item.Quantity) đ</span>
                                                </div>
                                            </div>
                                            <!-- end one item -->
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                }
                                <div class="your-order-item">
                                    <div class="pull-left"><p class="your-order-f18">Tổng tiền:</p></div>
                                    <div class="pull-right"><h5 class="color-black">@ViewBag.total đ</h5></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="your-order-head"><h5>Hình thức thanh toán</h5></div>
                            <div class="your-order-body">
                                <ul class="payment_methods methods">
                                    <li class="payment_method_bacs">
                                        <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="COD" checked="checked" data-order_button_text="">
                                        <label for="payment_method_bacs">Thanh toán khi nhận hàng </label>
                                        <div class="payment_box payment_method_bacs" style="display: block;">
                                            Cửa hàng sẽ gửi hàng đến địa chỉ của bạn, bạn xem hàng rồi thanh toán tiền cho nhân viên giao hàng
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="text-center"><input class="beta-btn primary" type="submit" value="Đặt hàng" /><i class="fa fa-chevron-right"></i></div>
                        </div> <!-- .your-order -->
                    </div>
                </div>
            </form>
    </div> <!-- #content -->
</div> <!-- .container -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}