@model NewProduct

@{ 
    ViewBag.Title = "Details NewProduct";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">NewProduct</a>
    </li>
    <li class="breadcrumb-item active">Details</li>
</ol>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
                <td scope="row">@Html.DisplayFor(model => model.Title)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Context)</th>
                <td scope="row">@Html.DisplayFor(model => model.Context)</td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.Image)</th>
                <td scope="row"><img class="rounded d-block" width="200" height="200" src="~/image/product/@Html.DisplayFor(model => model.Image)" /></td>
            </tr>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.status)</th>
                <td scope="row">@Html.DisplayFor(model => model.status)</td>
            </tr>
            <tr>
                <td scope="col">
                    <form method="post" asp-action="Details" asp-controller="NewProduct">
                        <button type="submit" class="btn btn-primary offset-3" asp-action="Index">Back</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>