@model IEnumerable<SaleOfPastries.Models.Product>
@{
    ViewBag.Title = "List Product";
}
<div class="container">
    <div id="content" class="space-top-none">
        <div class="main-content">
            <div class="row mt-5">
                <div class="col-sm-12">
                    <div class="beta-products-list">
                        <h4>Products</h4>
                        <div class="beta-products-details">
                            <p class="pull-left"></p>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="row wow fadeInDown" data-wow-delay="0.5s">
                            @foreach (var item in Model)
                            {
                                <div class="col-sm-3">
                                    <div class="single-item">
                                        @*<div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>*@
                                        <div class="single-item-header" id="single-item-header">
                                            <a asp-action="Index" asp-controller="Product" asp-route-id="@item.Id"><img src="~/image/product/@Html.DisplayFor(modelItem => item.Image)" height="240" alt=""></a>
                                            <div class="single-item-caption" id="single-item-caption">
                                                <a class="add-to-cart pull-left wow fadeInDown" data-wow-delay="0.2s" asp-action="Buy" asp-controller="Cart" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i></a>
                                                <a class="detail-cart pull-left btn btn-white wow fadeInDown" data-wow-delay="0.2s" asp-action="Index" asp-controller="Product" asp-route-id="@item.Id">Details <i class="fa fa-chevron-right"></i></a>
                                            </div>
                                        </div>
                                        <div class="single-item-body">
                                            <p class="single-item-title">@Html.DisplayFor(modelItem => item.Name)</p>
                                            <p class="single-item-price">
                                                <span class="flash-del">@Html.DisplayFor(modelItem => item.UnitPrice) đ</span>

                                                <span class="flash-sale">@Html.DisplayFor(modelItem => item.PromotionPrice) đ</span>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div> <!-- .beta-products-list -->
                </div>
            </div> <!-- end section with sidebar and main content -->


        </div> <!-- .main-content -->
        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    @for (var p = 1; p <= ViewBag.PageCount; p++)
                    {
                        
                        <li class="page-item"><a href="@Url.Action("Index", new { page = p, s= ViewBag.Search})" class="btn btn-default page-link">@p</a></li>
                    }

                </ul>
            </nav>
        </div>
    </div> <!-- #content -->
</div> <!-- .container -->

