@model invoice.Models.viewModel.invoiceView


@{
    ViewBag.Title = "Details invoice";
}

<h3>@Html.DisplayFor(model => model.ID_SP)</h3>
<h3>@Html.DisplayFor(model => model.MOTA_SP)</h3>
<h3>@Html.DisplayFor(model => model.GIA)</h3>
<h3>@Html.DisplayFor(model => model.SOLUONG)</h3>
<h3>@Html.DisplayFor(model => model.ID_KHACHHANG)</h3>
<h3>@Html.DisplayFor(model => model.DIA_CHI_KHACH_HANG)</h3>
<h3>@Html.DisplayFor(model => model.TEN_KHACH_HANG)</h3>
<h3>@Html.DisplayFor(model => model.ID_HOADON)</h3>
<h3>@Html.DisplayFor(model => model.NGAYBAN)</h3>
